
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family:'inter', sans-serif;
}


.logo{
   width: 100px;
   
}
section,footer{
    padding: 54px 0;
}
h3{
    font-size: 50px;
}
p{
    color: rgb(255, 255, 255);
}
.container{
    max-width:1400px ;
    margin: 0 auto;
    padding: 0 5%;
}
.btn{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 15px 20px;
    cursor: pointer;
    display: inline-block;
    margin-right: 30px;
    text-shadow: none;
}

.btn.animate-btn{
    animation: animate-outline 1s ease-out infinite;
    background-color: #3a849b;  
    color: white;
}
.btn:hover{
   color: white;
    background-color: #3a849b;
}




@keyframes animate-outline {
    from{
        outline: 0px solid #3a849b;
    }
    to{
       outline: 15px solid #3a849b18;
    }
}
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    color: rgb(251, 248, 248);
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 16px;
    text-shadow: black 0.1em 0.1em 0.2em
    
}
nav ul a:not(.btn)::after{
    content: "";
    background-color:rgba(23, 113, 169, 0.801) ;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}
nav ul a:hover::after{
width: 100%;
}
nav .menu-icon{
    cursor: pointer;
    font-size:25px ;
    color: #ffffff;
    display: none;
}
nav .close-icon{
    display: none;
    font-size: 30px;
    color: white;
}
.banner{
    display: flex;
    justify-content:center ;
}
.banner .banner-text{
    margin: 80px;
    text-align: center;
    padding: 0 90px;
}
.banner .banner-text h1{
    font-size: 96px;
    color: rgb(255, 255, 255);
    text-shadow: black 0.04em 0.04em 0.04em;
    
}
.banner .banner-text h3{
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: black 0.04em 0.04em 0.04em;
    margin-top: 80px;
}

.banner .banner-text p{
    font-size: 30px;
    color: rgb(252, 254, 255);
    font-weight: lighter;
    margin: 18px 0px 25px 0px;
    text-shadow: black 0.1em 0.1em 0.2em;
}
/*INTRODUÇÃO HOME*/
.introducao .container{
    display: flex;
    align-items: center;
    height: 40vh;
}
.introducao .introducao-text{
    width: 100%;
    padding: 0 95px;
    
}
.introducao .introducao-text p{
    color: #3a849b;
    margin: 5px 0 10px 0;
    font-size: 20px;
}
.introducao .banner-text h3{
    font-size: 50px;
}

.introducao .introducao-img img{
    width: 100%;
    padding: 0 40px;
}
/*Como avaliar*/
.comoAvaliar .container{
   display: flex;
    align-items: center;
    height: 40vh;
}
.comoAvaliar .comoAvaliar-text{
    width: 100%;
    padding: 0 40px;
    
    
    
}
.comoAvaliar .comoAvaliar-text p{
    color: #3a849b;
    margin: 10px 0px 10px 0;
    font-size: 20px;
}
.comoAvaliar .banner-text h3{
    font-size: 50px;
    
}
.comoAvaliar .comoAvaliar-img{
    width: 100%;
    
}
.comoAvaliar .comoAvaliar-img img{
    width: 70%;
    padding: 0 20px;
}
/*DICAS*/
.dicas .container{
    display: flex;
     align-items: center;
     height: 40vh;
 }
 .dicas .dicas-text{
     width: 65%;
     padding: 0 30px;
        
     
 }
 .dicas .dicas-text p{
     color: #3a849b;
     margin: 10px 0px 10px 0;
     font-size: 20px;
 }
 .dicas .banner-text h3{
     font-size: 50px;
 }

 .dicas .dicas-img img{
     width: 80%;
     padding: 0 30px;
 }
 
.footer{
    background-color: #3a849b;
    text-align: center;
    
}
.footer i{
    color:#3a849b ;
    font-size: 19px;
    background-color: #ffffff;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}
.footer img{
    width: 40px;
}
.footer p{
margin-top: 10px;
color: #ffffff;
}
.footercal{
    background-color: #ffffff;
    text-align: center;
}
.footercal i{
    color: #3a849b ;
    font-size: 19px;
    background-color: #ffffff;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}
.footercal img{
    width: 40px;
}
.footercal p{
margin-top: 10px;
font-weight: 600;
color: #3a849b;
}
@media(max-width: 830px){
    
   
    nav .menu-icon{
        display: block;
    }
    .ul{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #3a849b ;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
    }
    .ul.open{
        clip-path: circle(141.4% at 100% 0);
    }
    .ul a{
        margin: 10px;
        font-size: 16px;
    }

    .btn{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-radius: 10px;
        padding: 20px 40px;
        cursor: pointer;
        display: inline-block;
    }
   
    nav .close-icon{
    position: absolute;
        display: block;
        top: 46px;
        right: 28px;
    }
    /*responsiva*/
    .introducao .introducao-text{
        margin-top: 10px;
        padding: 0 20px;
        order:1
    }
    .introducao .container{
        flex-direction: column-reverse;
        height: 100%;
    }
    .introducao   .introducao-text h3{
    font-size: 30px;
    
    }
    .introducao .introducao-text ,
    .introducao .introducao-img{
        
        width: 100%;
    }
    .introducao .introducao-img img {
        margin-top: 10px;
        width: 100%;
    }
    .introducao .introducao-img img {
        margin-top: 10px;
        width: 100%;
        padding: 0 20px;
    }
    .introducao .introducao-text p{
        width: 100%;
        text-align: justify;
        font-size: 15px;
    }
    .banner .banner-text{
        padding: 100px 0px;
        margin: 0%;
        width:100%;
        
    }
    .banner .banner-text h1{
        font-size: 35px;
        
        
    }
    .btn{
        margin: 30px;
        
    }
    
    header{
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
       height: 100vh;
    }
    /*Como avaliar*/
    .comoAvaliar .container{
        flex-direction: column-reverse;
        height: 100%;
        
        
    }
    .comoAvaliar .comoAvaliar-text{
        margin-top: 20px;
        padding: 0 20px;
        order:1
    }
    
    .comoAvaliar  .comoAvaliar-text h3{
    font-size: 30px;
    text-align: initial;
    
    }
    .comoAvaliar .comoAvaliar-text ,
    .comoAvaliar .comoAvaliar-img{
        
        width: 100%;
    }
    .comoAvaliar .comoAvaliar-img img {
        margin-top: 10px;
        width: 100%;
        height: 80%;
        
    }
    .comoAvaliar .comoAvaliar-img img {
        margin-top: 10px;
       
        padding: 0 20px;
    }
    .comoAvaliar .comoAvaliar-text p{
        width: 100%;
        text-align: justify;
        font-size: 15px;
    }
    /*Dicas*/
    .dicas .container{
        height: 100%;
        flex-direction: column-reverse;
       
    }
    .dicas .dicas-text{
        margin-top: 20px;
        padding: 0 20px;
        order:1
    }
    
    .dicas  .dicas-text h3{
    font-size: 30px;
    text-align: initial;
    
    }
    .dicas .dicas-text ,
    .dicas .dicas-img{
        
        width: 100%;
    }
    .dicas .dicas-img img {
        margin-top: 10px;
        width: 100%;
        height: 80%;
        
    }
    .dicas .dicas-img img {
        margin-top: 10px;
        width: 100%;
        padding: 0 20px;
    }
    .dicas .dicas-text p{
        width: 100%;
        text-align: justify;
        font-size: 15px;
        padding: 10px;
    }
    section{
        padding: 10px;
    }
}

/*Voltar pra cima*/
#cima, .scroll-Top-button {
    outline: none;
    border: 0;
    width: 60px;
    height: 60px;
    padding: 8px;
    border-radius: 50%;
    display: flex ;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease; 
}

#cima, .scroll-Top-button.active {
    opacity: 1 ;
    visibility: visible ;
}

#cima img, .scroll-Top-button {
    transform: rotate(180dg);
}
